* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
}

.about-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    width: 90%;
    max-width: 1100px;
    display: flex;
    gap: 50px;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}


.about-image img {
    width: 320px;
    border-radius: 12px;
    object-fit: cover;
}


.about-content h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.about-content h3 {
    color:#27ae60;
    margin-bottom: 20px;
}

.about-content p {
    line-height: 1.7;
    color: #555;
    margin-bottom: 15px;
}


.about-buttons {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.about-buttons button {
    width: 140px;
    height: 45px;
    border: 2px solid #27ae60;
    background-color: transparent;
    color: #27ae60;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.about-buttons button:hover {
    background-color: #27ae60;
    color: white;
}


@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        width: 100%;
    }

    .about-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }
}
