.boy{
 
    img{
        width: 600px;
        height: 450px;
    }
}
.boat{
    margin-left: 650px;
    margin-top: -400px;
}

.first{
    margin-top: 150px;
    margin-left: 450px;
}
.second{
    margin-left: 600px;
}
.third{
    margin-left: 750px;
}
button{
    background-color: white;
    border-color: greenyellow;
    width: 150px;
    height: 50px;
}
