.github{
    margin-left: 800px;
    margin-top: -40px;
}
button{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    background-color: greenyellow;
    border-color: greenyellow;
}
h1{
    text-align: center;
}
.linkledln{
    margin-top: 120px;
    margin-left: 400px;
}
.first{
    margin-top: 100px;
    background-color: white;
    border-color: greenyellow;
    border-radius: 30px;
    margin-left: 550px;
}
.second{
    margin-top: 20px;
    background-color: white;
    border-color: greenyellow;
    border-radius: 30px;
    margin-left: 550px;
    
}
.third{
    margin-top: 20px;
    background-color: white;
    border-color: greenyellow;
    border-radius: 30px;
    margin-left: 550px;
}
