* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
}

.contact-section {
    min-height: 100vh;
    padding: 60px 20px;
    text-align: center;
}

.contact-section h1 {
    font-size: 40px;
    color: #2c3e50;
}

.subtitle {
    margin-top: 10px;
    color: #555;
    margin-bottom: 50px;
}

.contact-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    gap: 40px;
    justify-content: center;
}


.contact-form {
    background-color: white;
    padding: 35px;
    border-radius: 15px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #27ae60;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    width: 100%;
    background-color: #27ae60;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #219150;
}


.contact-links {
    background-color: white;
    padding: 35px;
    border-radius: 15px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.contact-links h2 {
    color: #27ae60;
    margin-bottom: 25px;
}

.social-btn {
    width: 100%;
    border: 2px solid #27ae60;
    background: transparent;
    color: #27ae60;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.social-btn:hover {
    background-color: #27ae60;
    color: white;
}


.nav-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.nav-buttons button {
    background-color: white;
    border: 2px solid #27ae60;
    color: #27ae60;
    width: 150px;
    height: 45px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-buttons button:hover {
    background-color: #27ae60;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
}
