
a{
    color: black;
    display: block;
    button{
        width: 100px;
        height: 40px;
        border-radius: 7px;
        color: #27ae60;
        font-size: 90%;
    }
}
p{
    margin-left: 100px;
    margin-top: 40px;
    margin-right: 800px;
    color: #27ae60;
    font-size: 125%;
}


img{
    width: 600px;
    height: 400px;
}
.me{
    text-align: center;
    font-size: 200%;
    margin-top: 70px;
}
.about{
    margin-left: 100px;
    width: 600px;
    font-size: 170%;
}
.yo{
    button{
        border-color: blueviolet;
        background-color: blueviolet;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        margin-right: 20px;
        margin-left: 100px;
        margin-top: 30px;
    }
}
.image{
    margin-left: 700px;
    margin-top: -170px;
    img{
        border-radius: 50px;
    }
    
}
.navbar{
    display: flex;
    button{
        margin-left: 20px;
        margin-top: 30px;
        background-color: white;
        border-color:#27ae60;
    }
}
.bb{
    margin-left: 150px;
    margin-top: 50px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #27ae60;
    border-color: #27ae60;
}
.bc{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #27ae60;
    border-color: #27ae60;
}
.rasul{
    margin-right: 950px;
    width: 120px;
    height: 35px;
}



@media (max-width:600px) {
    .rasul{
        margin-right: 70px;
        button{
            width: 120px;
        }
    }
    p{
        margin-left: 0px;
        margin-right: 0px;
        font-size: 90%;
        margin-top: 30px;
        width: 40%;
    }
    .me{
        width: 300px;
        margin-left: 5px;
        margin-top: -10px;
        font-size: 90%;
    }
    .navbar{
        width: 30%;
        button{
            width: 60px;
            height:40px ;
            font-size: 90%;
            margin-left: 15px;
        }
    }
    .about{
        font-size: 110%;
        width: 330px;
        margin-left: 5px;

    }
    .bb{
        width: 340px;
        font-size: 200%;
        height: 70px;
        margin-left: 10px;
    }
    .bc{
        margin-top: 10px;
        width: 340px;
        font-size: 200%;
        height: 70px;
        margin-left: 10px;

    }
    .image{
        margin-top: 50px;
        margin-left: 10px;
        img{
            width: 350px;
        }
    }
}
