body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    height: 60px;
}
.link a{
text-decoration: none;
color: #ccc;
font-size: 1.2em;
transition: color 0.3s ease;
}
.link a:hover{
    color: #00ff88;
}
header{
    background-color:black;
}
main{
margin: 80px 70px;
}

main h1 {
font-size: 2.5em;
margin-bottom: 40px;
color:greenyellow ;
}

.Skills {

gap: 20px;
margin-top: 30px;
}

.Skills ul {
list-style: none;
padding: 0;
margin: 0;

}

.Skills li {
background: linear-gradient(135deg, greenyellow, #27ae60);
padding: 25px 20px;
border-radius: 8px;
font-size: 1.1em;
transition: all 0.3s ease;
cursor: pointer;
box-shadow: 0 4px 6px rgba(0, 255, 136, 0.1);
}

.Skills li:hover {
background: linear-gradient(135deg, #2a2a2a, #1b1b1b);
transform: translateY(-5px);
border-left-color: #00cc66;
}


.nav-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.nav-buttons button {
    background-color: white;
    border: 2px solid #27ae60;
    color: #27ae60;
    width: 150px;
    height: 45px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-buttons button:hover {
    background-color: #27ae60;
    color: white;
}


@media screen and (max-width: 768px) {
.Skills {
grid-template-columns: 1fr;
}

main {
margin: 40px 20px;
}
}
