
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="skills.css">
</head>
<body>
    <main>
        <h1> My Skills</h1>
        <section class="Skills">
        <ul>
            <li>Nmap</li>
            <li>Pentesting</li>
            <li>MetaSploit FrameWork</li>
            <li>Kali Linux </li>
        </ul>
        </section>
    </main>

    <div class="nav-buttons">
        <a href="index.html"><button>Home</button></a>
        <a href="about.html"><button>About Me</button></a>
        <a href="contact.html"><button>Contact Me</button></a>
    </div>

    
</body>
</html>
